<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCjp8n2iNUiNqTcw9KWMmdC2VyutDmYUvo</string>
	<key>GCM_SENDER_ID</key>
	<string>173209892767</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alvin.entropy</string>
	<key>PROJECT_ID</key>
	<string>entropy-7c113</string>
	<key>STORAGE_BUCKET</key>
	<string>entropy-7c113.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:173209892767:ios:da917a8c6c075ee424efaa</string>
</dict>
</plist>
